/* =====================================
                global CSS
===================================== */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sora;
}

/* =====================================
                Body CSS
===================================== */

body {
    background-color: #FAFAF9;
}

body .reviewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 1280px;
}

/* =====================================
            Left Section CSS
===================================== */

body .reviewContainer .leftSection{
    margin: auto 40px;
    width: 551px;
    max-height: 72.5%;
    height: 522px;
}

/* =====================================
      Left Section CSS[Top-star SVG]
===================================== */

body .reviewContainer .leftSection .topStar{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #F5C044;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

body .reviewContainer .leftSection .topStar svg path{
    filter: blur(.2px) brightness(1);
    fill: url(#customGradient);
    transform: scale(4);
}

/* =====================================
      Left Section CSS[Body h and p]
===================================== */

body .reviewContainer .leftSection h2 {
    font-size: 2.25rem;
    color: #1b1818;
}

body .reviewContainer .leftSection > p {
    font-size: 1.25rem;
    color: #52525A;
    margin: 28px 0px 40px 0px;
}

body .reviewContainer .leftSection .cheklists {
    display: flex;
    align-items: top;
}

body .reviewContainer .leftSection .cheklists p{
    font-size: 0.875rem;
    margin-bottom: 15px;
}

body .reviewContainer .leftSection .cheklists img{
    height: 20px;
    margin-right: 10px;
}

/* =====================================
            Right Section CSS
===================================== */

body .rightSection{
    margin: auto 40px;
    width: 552px;
    max-height: 72.5%;
    height: 522px;
}

/*upper right section*/

body .rightSection .upperCardContainer {
    display: flex;
    justify-content: right;
}

body .rightSection .upperCardContainer .upperCard {
    background-color: #FFFFFF;
    box-shadow: 0px 30px 100px 0px #D4D4D8;
    margin: 20px;
    height: fit-content;
    width: 261px;
    padding: 30px 40px;
    border-radius: 10px;
}

body .rightSection .upperCardContainer .upperCard .cardHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}

body .rightSection .upperCardContainer .upperCard .cardHeader .image img {
    height: 30px;
}

body .rightSection .upperCardContainer .upperCard .cardHeader .ratingStars {
    width: 150px;
}

body .rightSection .upperCardContainer .upperCard .cardBody h2 {
    font-size: 1rem;
    color: #18181B;
    margin: 10px 0px;
}

body .rightSection .upperCardContainer .upperCard .cardBody p {
    font-size: 1rem;
    color: #52525A;
}

/*lower right section*/

body .rightSection .lowerCardContainer {
    display: flex;
    align-items: right;
    justify-content: left;
}

body .rightSection .lowerCardContainer .lowerCard {
    background-color: #FFFFFF;
    box-shadow: 0px 30px 100px 0px #D4D4D8;
    margin: 20px;
    height: fit-content;
    width: 261px;
    padding: 30px 40px;
    border-radius: 10px;
}

body .rightSection .lowerCardContainer .lowerCard .cardHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}

body .rightSection .lowerCardContainer .lowerCard .cardHeader .image img {
    height: 30px;
}

body .rightSection .lowerCardContainer .lowerCard .cardHeader .ratingStars {
    width: 150px;
}

body .rightSection .lowerCardContainer .lowerCard .cardBody h2 {
    font-size: 1rem;
    color: #18181B;
    margin: 10px 0px;
}

body .rightSection .lowerCardContainer .lowerCard .cardBody p {
    font-size: 1rem;
    color: #52525A;
}

/* =====================================
            responsive CSS
===================================== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
    body .reviewContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 380px;
        width: 100vw;
    }

    body .reviewContainer .leftSection{
        margin: auto 40px;
        width: 100%;
        height: 100%;
    }

    body .reviewContainer .rightSection{
        margin: auto 40px;
        width: 100%;
        height: 100%;
    }
}